In [9]:
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, f1_score, recall_score, precision_score, confusion_matrix

from sklearn.svm import SVC 
from pipelines import preprocessor, preprocessor2
from preprocess import extra_features, separate

In [2]:
train=pd.read_csv('Datasets/train.csv')
train.head(2)

,Tour_ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_accomodation,package_food,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,first_trip_tz,cost_category
0,tour_id1hffseyw,ITALY,45-64,With Children,0.0,2.0,Visiting Friends and Relatives,Beach Tourism,"Friends, relatives",Package Tour,...,Yes,Yes,Yes,No,No,No,0,7,Yes,High Cost
1,tour_idnacd7zag,UNITED KINGDOM,25-44,With Spouse,1.0,1.0,Leisure and Holidays,Wildlife Tourism,"Travel agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,No,No,0,7,Yes,High Cost

In [3]:
separate(train)

Target Column: ['cost_category']

Numerical Columns: ['night_mainland', 'night_zanzibar']

Categorical Columns: ['age_group', 'travel_with', 'tour_arrangement', 'package_transport_int', 'package_accomodation', 'package_food', 'package_transport_tz', 'package_sightseeing', 'package_guided_tour', 'package_insurance', 'first_trip_tz']

Text Columns: ['country', 'purpose', 'main_activity', 'info_source']

In [4]:
X=preprocessor2(train)

In [5]:
X.shape

(18506, 34)

In [11]:
y=train['cost_category']

le=LabelEncoder()
y=le.fit_transform(y)
y

array([0, 0, 1, ..., 1, 1, 3])

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X, y, shuffle=True, random_state=1)

In [23]:
kfold=StratifiedKFold(n_splits=10, shuffle=True, random_state=1)

for fold, (train_idx,val_idx) in enumerate(kfold.split(X,y)):
        X_train, X_val= X[train_idx], X[val_idx]
        y_train, y_val=y[train_idx], y[val_idx]

In [ ]:
cl=SVC(gamma="auto", kernel='linear')
cl.fit(X_train, y_train)

In [ ]:
y_pred=cl.predict(X_val)

In [ ]:
print(classification_report(y_val, y_pred, target_names=le.classes_))

In [22]:
scores.fit(cl, X_train, y_train)

AttributeError: 'StratifiedKFold' object has no attribute 'fit'