In [65]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.model_selection import StratifiedKFold, cross_val_score, train_test_split

from xgboost import XGBRegressor

from pipelines import pipe, pipe2

In [10]:
train = pd.read_csv("..\Datasets\Train (1).csv")
train.head()

,ID,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,...,package_transport_tz,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,payment_mode,first_trip_tz,most_impressing,total_cost
0,tour_0,SWIZERLAND,45-64,Friends/Relatives,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Friends, relatives",Independent,...,No,No,No,No,13.0,0.0,Cash,No,Friendly People,674602.5
1,tour_10,UNITED KINGDOM,25-44,NaN,1.0,0.0,Leisure and Holidays,Cultural tourism,others,Independent,...,No,No,No,No,14.0,7.0,Cash,Yes,"Wonderful Country, Landscape, Nature",3214906.5
2,tour_1000,UNITED KINGDOM,25-44,Alone,0.0,1.0,Visiting Friends and Relatives,Cultural tourism,"Friends, relatives",Independent,...,No,No,No,No,1.0,31.0,Cash,No,Excellent Experience,3315000.0
3,tour_1002,UNITED KINGDOM,25-44,Spouse,1.0,1.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Package Tour,...,Yes,Yes,Yes,No,11.0,0.0,Cash,Yes,Friendly People,7790250.0
4,tour_1004,CHINA,1-24,NaN,1.0,0.0,Leisure and Holidays,Wildlife tourism,"Travel, agent, tour operator",Independent,...,No,No,No,No,7.0,4.0,Cash,Yes,No comments,1657500.0

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     4809 non-null   object
 1   country                4809 non-null   object
 2   age_group              4809 non-null   object
 3   travel_with            3695 non-null   object
 4   total_female           4806 non-null   float64
 5   total_male             4804 non-null   float64
 6   purpose                4809 non-null   object
 7   main_activity          4809 non-null   object
 8   info_source            4809 non-null   object
 9   tour_arrangement       4809 non-null   object
 10  package_transport_int  4809 non-null   object
 11  package_accomodation   4809 non-null   object
 12  package_food           4809 non-null   object
 13  package_transport_tz   4809 non-null   object
 14  package_sightseeing    4809 non-null   object
 15  package_guided_tour    4809 non-null   object
 16  package_insurance      4809 non-null   object
 17  night_mainland         4809 non-null   float64
 18  night_zanzibar         4809 non-null   float64
 19  payment_mode           4809 non-null   object
 20  first_trip_tz          4809 non-null   object
 21  most_impressing        4496 non-null   object
 22  total_cost             4809 non-null   float64
dtypes: float64(5), object(18)
memory usage: 864.2+ KB

In [12]:
train = train.drop(columns=['payment_mode', 'most_impressing'], axis=1)

In [19]:
np.array(train[3:4])

array([['tour_1002', 'UNITED KINGDOM', '25-44', 'Spouse', 1.0, 1.0,
        'Leisure and Holidays', 'Wildlife tourism',
        'Travel, agent, tour operator', 'Package Tour', 'No', 'Yes',
        'Yes', 'Yes', 'Yes', 'Yes', 'No', 11.0, 0.0, 'Yes', 7790250.0]],
      dtype=object)

In [20]:
train.isna().sum()

ID                          0
country                     0
age_group                   0
travel_with              1114
total_female                3
total_male                  5
purpose                     0
main_activity               0
info_source                 0
tour_arrangement            0
package_transport_int       0
package_accomodation        0
package_food                0
package_transport_tz        0
package_sightseeing         0
package_guided_tour         0
package_insurance           0
night_mainland              0
night_zanzibar              0
first_trip_tz               0
total_cost                  0
dtype: int64

In [22]:
for col in train.select_dtypes('object', 'category').columns:
    train.loc[:, col] = train.loc[:, col].fillna("None").astype(str)

In [27]:
for col in train.select_dtypes(np.number):
    train.loc[:, col] = train.loc[:, col].fillna(np.median)

In [29]:
X = train.drop(columns=['ID', 'total_cost'], axis=1)
y = train['total_cost']

In [58]:
X = pd.get_dummies(X)
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=123)

In [60]:
X_test

array([[-0.43044415, -0.54521538, -0.02039755, ..., -0.42304306,
         1.43905567, -1.43905567],
       [-0.62226234,  0.40116281, -0.02039755, ..., -0.42304306,
        -0.69490015,  0.69490015],
       [-0.43044415, -0.54521538, -0.02039755, ..., -0.42304306,
        -0.69490015,  0.69490015],
       ...,
       [-0.52635325, -0.54521538, -0.02039755, ...,  2.36382555,
        -0.69490015,  0.69490015],
       [-0.81408052,  0.16456826, -0.02039755, ..., -0.42304306,
        -0.69490015,  0.69490015],
       [-0.14271688, -0.54521538, -0.02039755, ..., -0.42304306,
         1.43905567, -1.43905567]])

In [61]:
reg = XGBRegressor()
reg.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [63]:
y_pred = reg.predict(X_test)

In [67]:
mae = mean_absolute_error(y_pred, y_test)
mae

5013115.454851519

In [68]:
mse = mean_squared_error(y_test, y_pred)
mse

84937429063492.55

In [71]:
test = pd.read_csv('../Datasets/Test (1).csv')
test = test.drop('ID', axis=1)

In [74]:
for col in test.select_dtypes('object', 'category'):
    test.loc[:, col] = test.loc[:, col].fillna("None").astype(str)
    
for col in test.select_dtypes(np.number):
    test.loc[:, col] = test.loc[:, col].fillna(np.median)

In [77]:
test = pd.get_dummies(test)

In [79]:
reg.predict(np.array(test[2:3]))

ValueError: Feature shape mismatch, expected: 189, got 178