In [1]:
import tensorflow as tf 
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split, StratifiedKFold
from scipy.stats import chi2_contingency 
from pipelines import preprocessor, preprocessor2
from preprocess import extra_features, separate
import pickle
import joblib

In [2]:
train= pd.read_csv("Datasets/train.csv")
train=extra_features(train)
separate(train)

Target Column: ['cost_category']

Numerical Columns: ['night_mainland', 'night_zanzibar', 'total_nights']

Categorical Columns: ['age_group', 'travel_with', 'tour_arrangement', 'package_transport_int', 'package_accomodation', 'package_food', 'package_transport_tz', 'package_sightseeing', 'package_guided_tour', 'package_insurance', 'first_trip_tz', 'trip_length', 'group_size']

Text Columns: ['country', 'purpose', 'main_activity', 'info_source']

In [3]:
X=train.drop('cost_category', axis=1)
y=train['cost_category']

In [4]:
X.shape

(18506, 23)

In [5]:
X.head(2)

,country,age_group,travel_with,total_female,total_male,purpose,main_activity,info_source,tour_arrangement,package_transport_int,...,package_sightseeing,package_guided_tour,package_insurance,night_mainland,night_zanzibar,first_trip_tz,total_nights,trip_length,total_people,group_size
Tour_ID,,,,,,,,,,,,,,,,,,,,,
tour_id1hffseyw,ITALY,45-64,With Children,0.0,2.0,Visiting Friends and Relatives,Beach Tourism,"Friends, relatives",Package Tour,Yes,...,No,No,No,0,7,Yes,7,Normal,2.0,small
tour_idnacd7zag,UNITED KINGDOM,25-44,With Spouse,1.0,1.0,Leisure and Holidays,Wildlife Tourism,"Travel agent, tour operator",Package Tour,Yes,...,No,No,No,0,7,Yes,7,Normal,2.0,small

In [6]:
col_drop=[]

for col in X.columns:
    
    ct=pd.crosstab(y, X[col])
    chi2, P, _ , _ = chi2_contingency(ct)
    
    if P >= 0.05:
        col_drop.append(col)
    elif chi2 <= 1500:
            col_drop.append(col)
        
    print(f"Column: {col}\nChi_Test: {chi2}\nP_Value: {P}\n*************")

Column: country
Chi_Test: 9779.033678192025
P_Value: 0.0
*************

Column: age_group
Chi_Test: 1803.196457648891
P_Value: 0.0
*************

Column: travel_with
Chi_Test: 4358.8256594511395
P_Value: 0.0
*************

Column: total_female
Chi_Test: 3730.647692424969
P_Value: 0.0
*************

Column: total_male
Chi_Test: 1402.6656478001087
P_Value: 3.290821934232691e-220
*************

Column: purpose
Chi_Test: 6975.312873617305
P_Value: 0.0
*************

Column: main_activity
Chi_Test: 3606.50524881434
P_Value: 0.0
*************

Column: info_source
Chi_Test: 4166.3943611855575
P_Value: 0.0
*************

Column: tour_arrangement
Chi_Test: 8331.284428771029
P_Value: 0.0
*************

Column: package_transport_int
Chi_Test: 5414.9841247089
P_Value: 0.0
*************

Column: package_accomodation
Chi_Test: 7883.608233888307
P_Value: 0.0
*************

Column: package_food
Chi_Test: 7146.769578021885
P_Value: 0.0
*************

Column: package_transport_tz
Chi_Test: 6346.490489845604
P_Value: 0.0
*************

Column: package_sightseeing
Chi_Test: 4501.574863783683
P_Value: 0.0
*************

Column: package_guided_tour
Chi_Test: 4873.499054202309
P_Value: 0.0
*************

Column: package_insurance
Chi_Test: 2067.872038967938
P_Value: 0.0
*************

Column: night_mainland
Chi_Test: 5614.015301227679
P_Value: 0.0
*************

Column: night_zanzibar
Chi_Test: 2652.1882265219597
P_Value: 0.0
*************

Column: first_trip_tz
Chi_Test: 2229.180451768042
P_Value: 0.0
*************

Column: total_nights
Chi_Test: 6523.200295117052
P_Value: 0.0
*************

Column: trip_length
Chi_Test: 402.40609235137765
P_Value: 2.159271242364782e-76
*************

Column: total_people
Chi_Test: 5188.487023293924
P_Value: 0.0
*************

Column: group_size
Chi_Test: 686.1389145094461
P_Value: 1.6709403090257822e-136
*************

In [7]:
col_drop

['total_male', 'trip_length', 'group_size']

In [8]:
X.drop(columns=col_drop, inplace=True)
X.shape

(18506, 20)

In [9]:
X= preprocessor(X)
X

array([[0., 0., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [10]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
y=le.fit_transform(y)
mapping= dict(zip(le.classes_, le.transform(le.classes_)))
mapping

{'High Cost': 0,
 'Higher Cost': 1,
 'Highest Cost': 2,
 'Low Cost': 3,
 'Lower Cost': 4,
 'Normal Cost': 5}

In [11]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, shuffle=True, stratify= y, random_state=1)

print(f"X_train: {X_train.shape}\nX_test: {X_test.shape}\ny_train: {y_train.shape}\ny_test: {y_test.shape}")

X_train: (14804, 187)
X_test: (3702, 187)
y_train: (14804,)
y_test: (3702,)

In [12]:
n_features= X.shape[1]
num_classes= len(le.classes_)

model= Sequential()
model.add(Dense(32, input_dim=n_features, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(512, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1024, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1024, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(num_classes, activation='softmax'))

epochs=30
learning_rate= 0.01
model.compile(loss = 'sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                6016

 dropout (Dropout)           (None, 32)                0

 dense_1 (Dense)             (None, 32)                1056

 dropout_1 (Dropout)         (None, 32)                0

 dense_2 (Dense)             (None, 64)                2112

 dropout_2 (Dropout)         (None, 64)                0

 dense_3 (Dense)             (None, 128)               8320

 dropout_3 (Dropout)         (None, 128)               0

 dense_4 (Dense)             (None, 512)               66048

 dropout_4 (Dropout)         (None, 512)               0

 dense_5 (Dense)             (None, 1024)              525312

 dropout_5 (Dropout)         (None, 1024)              0

 dense_6 (Dense)             (None, 1024)              1049600

 dropout_6 (Dropout)         (None, 1024)              0

 dense_7 (Dense)             (None, 6)                 6150

=================================================================
Total params: 1,664,614
Trainable params: 1,664,614
Non-trainable params: 0
_________________________________________________________________

In [13]:
model.fit(X_train, y_train, epochs= epochs, batch_size=64, verbose=1)

Epoch 1/30
232/232 [==============================] - 15s 32ms/step - loss: 1.3247 - accuracy: 0.4454
Epoch 2/30
232/232 [==============================] - 8s 33ms/step - loss: 1.2114 - accuracy: 0.5103
Epoch 3/30
232/232 [==============================] - 8s 35ms/step - loss: 1.1829 - accuracy: 0.5322
Epoch 4/30
232/232 [==============================] - 7s 32ms/step - loss: 1.1666 - accuracy: 0.5434
Epoch 5/30
232/232 [==============================] - 8s 34ms/step - loss: 1.1530 - accuracy: 0.5505
Epoch 6/30
232/232 [==============================] - 7s 31ms/step - loss: 1.1418 - accuracy: 0.5559
Epoch 7/30
232/232 [==============================] - 8s 35ms/step - loss: 1.1359 - accuracy: 0.5581
Epoch 8/30
232/232 [==============================] - 7s 32ms/step - loss: 1.1281 - accuracy: 0.5606
Epoch 9/30
232/232 [==============================] - 8s 35ms/step - loss: 1.1264 - accuracy: 0.5630
Epoch 10/30
232/232 [==============================] - 7s 31ms/step - loss: 1.1236 - accuracy: 0.5637
Epoch 11/30
232/232 [==============================] - 8s 34ms/step - loss: 1.1184 - accuracy: 0.5675
Epoch 12/30
232/232 [==============================] - 7s 31ms/step - loss: 1.1156 - accuracy: 0.5712
Epoch 13/30
232/232 [==============================] - 8s 33ms/step - loss: 1.1111 - accuracy: 0.5688
Epoch 14/30
232/232 [==============================] - 7s 32ms/step - loss: 1.1086 - accuracy: 0.5719
Epoch 15/30
232/232 [==============================] - 9s 37ms/step - loss: 1.1071 - accuracy: 0.5734
Epoch 16/30
232/232 [==============================] - 8s 35ms/step - loss: 1.1010 - accuracy: 0.5781
Epoch 17/30
232/232 [==============================] - 8s 36ms/step - loss: 1.1000 - accuracy: 0.5755
Epoch 18/30
232/232 [==============================] - 7s 32ms/step - loss: 1.0964 - accuracy: 0.5775
Epoch 19/30
232/232 [==============================] - 8s 35ms/step - loss: 1.0957 - accuracy: 0.5789
Epoch 20/30
232/232 [==============================] - 7s 32ms/step - loss: 1.0962 - accuracy: 0.5794
Epoch 21/30
232/232 [==============================] - 8s 35ms/step - loss: 1.0920 - accuracy: 0.5780
Epoch 22/30
232/232 [==============================] - 8s 33ms/step - loss: 1.0852 - accuracy: 0.5851
Epoch 23/30
232/232 [==============================] - 8s 34ms/step - loss: 1.0871 - accuracy: 0.5830
Epoch 24/30
232/232 [==============================] - 8s 33ms/step - loss: 1.0874 - accuracy: 0.5863
Epoch 25/30
232/232 [==============================] - 8s 34ms/step - loss: 1.0816 - accuracy: 0.5867
Epoch 26/30
232/232 [==============================] - 8s 33ms/step - loss: 1.0836 - accuracy: 0.5837
Epoch 27/30
232/232 [==============================] - 8s 34ms/step - loss: 1.0790 - accuracy: 0.5871
Epoch 28/30
232/232 [==============================] - 7s 32ms/step - loss: 1.0752 - accuracy: 0.5932
Epoch 29/30
232/232 [==============================] - 8s 33ms/step - loss: 1.0733 - accuracy: 0.5902
Epoch 30/30
232/232 [==============================] - 8s 34ms/step - loss: 1.0777 - accuracy: 0.5871

In [14]:
loss, accuracy= model.evaluate(X_test, y_test, verbose=1)
print(f"Accuracy Score: {accuracy }\nLoss: {loss}")

116/116 [==============================] - 6s 8ms/step - loss: 1.1271 - accuracy: 0.5686
Accuracy Score: 0.5686115622520447
Loss: 1.12714421749115

In [15]:
folds= StratifiedKFold(n_splits=10, shuffle=True, random_state=42 )

for fold, (train_idx, val_idx) in enumerate (folds.split(X,y)):
    X_train, X_test = X[train_idx], X[val_idx]
    y_train, y_test = y[train_idx], y[val_idx]

In [16]:
model.fit(X_train, y_train, epochs=epochs, batch_size=64, verbose=1)

Epoch 1/30
261/261 [==============================] - 9s 34ms/step - loss: 1.0897 - accuracy: 0.5797
Epoch 2/30
261/261 [==============================] - 9s 33ms/step - loss: 1.0860 - accuracy: 0.5856
Epoch 3/30
261/261 [==============================] - 8s 31ms/step - loss: 1.0910 - accuracy: 0.5844
Epoch 4/30
261/261 [==============================] - 9s 35ms/step - loss: 1.0892 - accuracy: 0.5834
Epoch 5/30
261/261 [==============================] - 9s 33ms/step - loss: 1.0841 - accuracy: 0.5835
Epoch 6/30
261/261 [==============================] - 10s 40ms/step - loss: 1.0820 - accuracy: 0.5834
Epoch 7/30
261/261 [==============================] - 9s 35ms/step - loss: 1.0777 - accuracy: 0.5862
Epoch 8/30
261/261 [==============================] - 9s 36ms/step - loss: 1.0778 - accuracy: 0.5867
Epoch 9/30
261/261 [==============================] - 9s 34ms/step - loss: 1.0868 - accuracy: 0.5830
Epoch 10/30
261/261 [==============================] - 9s 34ms/step - loss: 1.0745 - accuracy: 0.5883
Epoch 11/30
261/261 [==============================] - 9s 36ms/step - loss: 1.0744 - accuracy: 0.5871
Epoch 12/30
261/261 [==============================] - 9s 35ms/step - loss: 1.0775 - accuracy: 0.5841
Epoch 13/30
261/261 [==============================] - 11s 42ms/step - loss: 1.0804 - accuracy: 0.5827
Epoch 14/30
261/261 [==============================] - 34s 130ms/step - loss: 1.0757 - accuracy: 0.5885
Epoch 15/30
261/261 [==============================] - 33s 129ms/step - loss: 1.0772 - accuracy: 0.5876
Epoch 16/30
261/261 [==============================] - 36s 136ms/step - loss: 1.0728 - accuracy: 0.5855
Epoch 17/30
261/261 [==============================] - 34s 132ms/step - loss: 1.0760 - accuracy: 0.5880
Epoch 18/30
261/261 [==============================] - 34s 132ms/step - loss: 1.0722 - accuracy: 0.5905
Epoch 19/30
261/261 [==============================] - 35s 134ms/step - loss: 1.0666 - accuracy: 0.5907
Epoch 20/30
261/261 [==============================] - 35s 134ms/step - loss: 1.0639 - accuracy: 0.5932
Epoch 21/30
261/261 [==============================] - 36s 138ms/step - loss: 1.0685 - accuracy: 0.5873
Epoch 22/30
261/261 [==============================] - 36s 136ms/step - loss: 1.0650 - accuracy: 0.5899
Epoch 23/30
261/261 [==============================] - 35s 135ms/step - loss: 1.0665 - accuracy: 0.5902
Epoch 24/30
261/261 [==============================] - 35s 133ms/step - loss: 1.0636 - accuracy: 0.5886
Epoch 25/30
261/261 [==============================] - 37s 142ms/step - loss: 1.0648 - accuracy: 0.5869
Epoch 26/30
261/261 [==============================] - 36s 138ms/step - loss: 1.0593 - accuracy: 0.5937
Epoch 27/30
261/261 [==============================] - 25s 94ms/step - loss: 1.0612 - accuracy: 0.5932
Epoch 28/30
261/261 [==============================] - 9s 34ms/step - loss: 1.0602 - accuracy: 0.5911
Epoch 29/30
261/261 [==============================] - 8s 32ms/step - loss: 1.0613 - accuracy: 0.5912
Epoch 30/30
261/261 [==============================] - 9s 35ms/step - loss: 1.0663 - accuracy: 0.5930

In [17]:
loss, accuracy = model.evaluate(X_test, y_test, verbose=1)
print(f"Accuracy Score: {accuracy }\nLoss: {loss}")

58/58 [==============================] - 1s 8ms/step - loss: 1.0810 - accuracy: 0.5886
Accuracy Score: 0.5886486768722534
Loss: 1.0810495615005493